.cart-title{
    font-weight: 800;
}

.cart-details{
    width: 100%;
  background-color: #eee;
  border: 1px solid #ccc;
  color: #333;
  padding: 10px;
  text-align: center;
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-weight: bold;
  border-radius: 5px;
  margin-bottom: 5px;
}

.cart-divider{
    width: 100%;
    background-color: #eee;
    border: 1px solid #ccc;
    color: #333;
    padding: 10px;
    text-align: center;
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-weight: bold;
    border-radius: 5px;
    margin-bottom: 5px;
}

